* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$myFonts: 'Roboto', sans-serif;

body {
    background-image: linear-gradient(45deg, #bb4dfa 12.50%, #59f2ff 12.50%, #59f2ff 25%, #fdc636 25%, #fdc636 37.50%, #fc605f 37.50%, #fc605f 50%, #bb4dfa 50%, #bb4dfa 62.50%, #59f2ff 62.50%, #59f2ff 75%, #fdc636 75%, #fdc636 87.50%, #fc605f 87.50%, #fc605f 100%);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $myFonts;
    color: #fff;
}

$varUpper: uppercase;

//Nesting
main {
    margin-top: 25vh;

    article {

        margin-left: auto;
        margin-right: auto;
        width: 35%;

        display: flex;
        flex-direction: column;

        div {

            display: flex;
            flex-direction: column;
            width: 432px;

            h3 {
                background-color: #fdc636;
                border-radius: 50%;
                height: 50px;
                width: 50px;
                text-align: center;
                font-size: 2.5rem;
                padding-left: 9px;
                font-weight: 300;
                align-self: end;
                position: absolute;
            }

            h1 {
                text-transform: $varUpper;
                font-weight: 400;
                font-size: 6rem;
                margin-top: 2vh;
            }
        }
    }

    h2 {
        text-transform: $varUpper;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
    }

}

//Nesting
footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 15vh;

    div {
        margin-right: 4vw;

        img {
            height: 5vh;
        }
    }



}